*{
    margin: 0;
    padding: 0;
}
:root{
    --branco-principal: #fff;
    --cinza-secundario:#C0C0C0;
    --branco-terciario:#F9F9F9;
    --cor-de-fundo:#00030C;
    --vermelho-usado:#EC2F46;
    --botao-azul:#167BF7;
    --font:'Inter';
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--font);
    font-size: 16px;
    font-weight: 400;
}
.principal{
    background-image: url(../img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right; 
    align-items: center;
    text-align: center;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.container__titulo{
    font-size: 28px;
    font-weight: 700;
}
.container__botao, .terciario__btn{
    background-color: var(--botao-azul);
    border-radius: 5px;
    text-decoration: none;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    margin-bottom: 1em;
}
.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}
.container__aviso{
    font-size: 12px;
    color: var(--cinza-secundario);
}
.container__img{
    margin: 1em 0 2em 0;

}
.container__caixa{
    margin: 0 4em;
}
.titulo_secundario{
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}
.secundaria{
    align-items: center;
    justify-items: center;
    margin: 0 5em;
}
.secundaria__img, .terciaria__img{
    width: 80%;
}
.secundaria__texto{
    color: var(--branco-terciario);
}
.terciario{
    align-items: center;
    justify-items: end;
    margin:  5em;
}
.terciario__texto{
    color: var(--cinza-secundario);
    margin-bottom: 1em;
}
.terciario__btn{
    display: inline-block;
}
.dispositivos{
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    height: 80vh;
}
.dispositivos__titulo{
    grid-column: 1/4;
    font-size: 48px;
}
.dispositivos__texto{
    font-size: 32px;
    font-weight: 700;
}